:root{
  --beige: #F0E1CC;
}

#background-phone{
  display: none;
}

body{
  margin: 0;
}

#boton1{
  background-color: #F0E1CC;
  font-size: 0.75em;
  width: 9.375rem;
  height: 1.875rem;
}

#ventana1{
  display: flex;
  background-color: #002626;
  height: 100vh;
  background-size: cover;
  background-image: url(images/background-vista1.png);
  justify-content: center;
  align-items: center; 
}

#ventana2{
  background-color: var(--beige);
  height: 100vh;
  font-family: Montserrat;
  display: none;
}

h1{
  font-size: 1.4375em;
  font-weight: 300;
}

h2{
  font-size: 0.9375em;
  font-weight: 250;

}

h3{
  font-size: 1.375em;
  font-weight: 550;
  color: var(--beige);
} 

#contenidoTexto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secciones{
  display:flex;
  justify-content: space-around;
}

#contenidoGeneral2{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.recuadros{
  width: 17.5em;
  height: 21.875em;
  border-radius: 2.1875em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#recuadro2-1{
  background: #F49495;
}

#recuadro2-2{
  background: #E95622;
}

#recuadro2-3{
  background: #F69900;
}

h4{
  font-weight: 350;
  color:#F0E1CC;
}

.botonesElectivo{
  border-radius:15px;
  font-size: 0.875em;
  background-color:#002627;
  border: #002627;
  color:#F0E1CC;
  padding: 7px 13px;
}

#botonestandar, #botonpremium{
  position: relative;
  top: 8px;
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ventana3{
  background-color: #F0E1CC;  
  background-image: url(images/background-vista3.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  display: none;
} 

#recuadro{
  width: 25rem;
  height: 34.7rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p{
  font-family: Montserrat;
  font-size: 0.9375em;
  width: 18.125em;
  position: relative;
  top: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.imputForm{
  border-radius: 15px;
  border: #bcbcbc;
  background-color: #bcbcbc;
}

input{
  color: #032627;
  font-size: 1rem;
  font-family: Montserrat;
  text-align: center;
  font-weight: 550;
  position: relative;
  top: 1.25em;
}

#numero-tarjeta, #correo-electronico{
  width: 335px;
  height: 38px;
}

#cvv{
  width: 164px;
  height: 38px;
}

#nombre, #apellidos{
  width: 164px;
  height: 39px;
}

::placeholder{
  color:#ffff;
  font-size: 0.7813em;
}

#fecha-caducidad{
  color: #fff;
  font-size: 0.7813em;
  font-family: Montserrat;
  width: 164px;
  height: 40px;
  position: relative;
  top: 19px;
}

#boton-pagar{
  border: #032627;
  background-color: #032627;
  color: #f0e1cc;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 15px;
  width: 345px;
  height: 40px;
}

#mensaje-exitoso{
  font-family: Montserrat;
  font-size: 0.8438em;
  position: relative;
  bottom: -35px;
  display: flex;
  justify-content: space-around;
  color:red;
}


/* celulares */
@media (max-width: 1200px){
  
  #boton1{
    font-size: 1.25em;
    width: 14.375rem;
    height: 2rem;
  }

  input{
    font-size: 1rem;
    text-align: center;
    font-weight: 550;
    position: relative;
    top: 1.25em;
  }

  #ventana2{
    background-size: 100%;
  }

  #contenidoGeneral2{
    height: 100vh;
  }

  .logo {
    height: 155px;
    margin: 15px;
  }  

  .secciones{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
  }

  .botonesElectivo{
    border-radius: 27px;
    font-size: 1em;
    padding: 18px 27px;
  }

  h1, p, h3{
    font-size: 1.9rem;
  }

  h2, h4{
    font-size: 1.6rem;
  }

  .recuadros{
    margin: 40px;
    width: 23.5em;
    height: 33.875em;
  }

  #logo2{
    padding:350px 0 50px 0;
  }

  #ventana3{
    background-image: url(images/background-phone.png);
  } 

  #recuadro{
    width: 42rem;
    height: 66rem;
  }

  #numero-tarjeta, #correo-electronico{
    width: 512px;
    height: 62px;
    border-radius: 30px;
  }

  #nombre, #apellidos, #cvv, #fecha-caducidad{
    height: 62px;
    width: 252px;
    border-radius: 30px;
  }
  
  ::placeholder{
    font-size: 1em;
  }

   #boton-pagar{
     font-size: 1.6em;
   } 

   #boton-pagar{
    width: 518px;
    height: 62px;
    border-radius: 30px;
   }

   #mensaje-exitoso {
    font-size: 1.6em;
    bottom: -55px;
   }
}